/* @src/components/Modal.module.css */

.darkBG {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 888;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.centered {
  position: fixed;
  z-index: 900;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 1000px;
  height: 600px;
  background: rgba(4, 6, 19, 0.8);
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
  height: 50px;
  background: rgba(4, 6, 19, 0.8);
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.closeBtn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

.modalContent {
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
}

.modalJoinWaitlistContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 40px;
}
.modalJoin {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 98px;
  display: flex;
  align-items: center;

  background: linear-gradient(90deg, #ed0dfd 0%, #ab47f3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.modalWaitlist {
  padding-left: 20px;
  font-family: "Montserrat";
  font-size: 80px;
  font-weight: 1100;
  background: linear-gradient(90deg, #9f52f3 0%, #24bce3 100%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 8px transparent;
  color: #050714;
}
.modalInput {
  margin: auto;
  width: 300px;
  height: 60px;
  color: aliceblue;
}

.modalJoinButton {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 300px;
  height: 60px;
  text-align: center;

  background: #ed0dfd;
  box-shadow: inset -3px -4px 4px rgba(0, 0, 0, 0.25),
    inset 4px 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  margin-bottom: 60px;
}

.modalJoinButtonText {
  margin: auto;
  height: 60px;
  width: 100%;
  text-align: center;
  line-height: 60px;
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  /* or 22px */

  color: #ffffff;
}
.modalJoinButtonForward {
  position: absolute;
  right: 10px;
  top: 16px;
}

.modalDexLogo {
  height: 35px;
  width: 120px;
  margin: auto;
  background: url("../../assets/image/logo.svg");
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .modal {
    width: 300px;
    height: 400px;
  }
  .modalJoin,
  .modalWaitlist {
    font-size: 30px;
    padding-right: 2px;
  }
  .modalJoinButtonText {
    font-size: 16px;
  }
  .modalJoinButton {
    width: 80%;
  }
  .modalDexLogo {
    height: 20px;
    width: 70px;
    background-size: 70px 20px;
    margin: auto;
  }
  .modalInput {
    height: 50px;
    width: 80%;
  }
}
