.headerContainer {
  background: #000;
}

.headerContent {
  max-width: 1240px;
  margin: 0 auto;
}

.headerFlex {
  width: "90%";
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 105px;

  font-family: "Rumiko Clear Demo", sans-serif;
  font-size: 16px;
  color: #ffffff;

  margin-bottom: -1px;
}

.headerLogo {
  width: 140px;
  height: 40px;
  background: url("../../assets/image/logo.png");
  background-repeat: no-repeat;
}

.headerLink {
  margin-right: 30px;
  font-family: "Rumiko Clear Demo", sans-serif;
  font-size: 16px;
  line-height: 21px;
  opacity: .9;
  transition: .2s;
}

.headerLink:hover {
  opacity: 1;
}

.launchButton {
  width: 133px;
  height: 38px;
  display: inline-block;

  background: #FFFFFF;
  border-radius: 80px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 38px;
  /* identical to box height */
  text-align: center;
  color: #000001;
  transition: .2s;
}

.launchButton:hover {
  background: #67d4fd;
  color: #fff;
}

.headerLinkContainer {
  position: relative;
}

.headerDropDown {
  width: 300px;
  height: 449px;
  background: url("../../assets/image/headerDropDown.png");
  position: absolute;
  right: -170px;
  top: 60px;
  z-index: 100;
}

.explorerTooltip {
  width: 500px;
  height: auto;
  padding: 20px 10px;
  box-sizing: border-box;
  background: #2d3748;
}

.explorerTooltipList {
  width: 100%;
  height: 70px;
  display: flex;
  margin: 10px 0;
}

.explorerTooltipList img {
  width: 65px;
  height: 65px;
  background-size: cover;
  overflow: hidden;
  border-radius: 50%;
  flex: .15;
  vertical-align: sub;
}

.explorerTooltipListText {
  flex: .8;
  height: 100%;
  margin-left: 10px;
}

.explorerTooltipListText h5 {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: center;
  margin-bottom: 8px;
  color: #FFFFFF;

}

.explorerTooltipListText p {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  text-transform: capitalize;

  color: #BDBDBD;
}

@media screen and (max-width: 768px) {
  .headerLinkContainer {
    display: none;
  }

  .headerFlex {
    justify-content: center;
  }
}
