.bannerContainer {
  position: relative;
  /* background-color: #000; */
  width: 100%;
  height: 1100px;
  padding: 80px 5%;
  /* margin-top: 100px; */
  overflow: hidden;
}

.bannerContent {
  position: relative;
  max-width: 1240px;
  margin: auto;
  z-index: 100;
  margin-top: 100px;
}

.bannerBg1,
.bannerBg2 {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  /* background-size: cover !important; */
  background-repeat: no-repeat !important;
}

.bannerBg1 {
  height: 945px;
  background: url("../../assets/image/banner/bg1.png") right;
  z-index: 10;
}


.bannerSlogan {
  font-weight: 700;
  font-size: 60px;
  line-height: 96px;
  text-transform: uppercase;
  color: white;
}

.bannerButtomText {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  color: white;
}

.bannerText {
  margin-top: 30px;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
}

.bannerEmbraceText {
  margin-top: 260px;
}

.species {
  height: 52px;
  width: 52px;
  display: inline-block;
  vertical-align: sub;
  margin-left: 16px;
  background: url("../../assets/image/banner/species.png");
  z-index: 100;
  animation: spinCoin 3s infinite linear;
}

@keyframes spinCoin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.bannerButton {
  width: 203px;
  height: 60px;
  border: 1.5px solid #FFFFFF;
  border-radius: 80px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 60px;
  margin: 50px 0;
  text-align: center;
  cursor: pointer;
  color: #FFFFFF;

  background-color: #020202;
  transition: all 0.3s ease;
}

.nav-cta-btn:hover {
  background-color: var(--qubex-white);
  color: var(--qubex-black);
  border: 1px solid #020202;
  transition: all 0.3s ease;
}


.bannerButton:hover {
  background-color: #fff;
  color: #000;
  border: 1.5px solid #020202;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .bannerSlogan {
    font-size: 30px;
    line-height: 56px;
  }

  .bannerText {
    font-size: 16px;
    line-height: 24px;
  }
}
